<div class="left-container">
  <div class="login-info">
    <p class="username">Ginitoru&#64;yahoo.com</p>
    <fa-icon
      icon="right-from-bracket"
      matTooltip="logout"
      matTooltipClass="tooltip-override"
      matTooltipPosition="after"
      class="logout-icon fa-xl"
    ></fa-icon>
  </div>
  <div class="buttons-container">
    <div class="btn-container" (click)="routeToCarsPage()">
      <fa-icon icon="car-side" class="icon fa-xl"></fa-icon>
      <button class="btn">Cars</button>
    </div>
    <div class="btn-container" (click)="routeToPartsPage()">
      <fa-icon icon="gears" class="icon fa-xl"></fa-icon>
      <button class="btn">Parts</button>
    </div>
    <div class="btn-container" (click)="routeToSearchPartsPage()">
      <fa-icon icon="magnifying-glass" class="icon fa-xl"></fa-icon>
      <button class="btn">Search Parts</button>
    </div>
    <div class="btn-container">
      <fa-icon icon="magnifying-glass" class="icon fa-xl"></fa-icon>
      <button class="btn">Search Cars</button>
    </div>

  </div>

</div>
