body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

}

input {
    background-color: blue;
    color: white;
    width: 8rem;
    height: 3rem;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    cursor: pointer;
}