@use '@angular/material' as mat;
@use "../../../../../partials/variables" as *;
@use "../../../../../partials/mixins" as *;


@include angularMatButtonCustomization;
@include angularFormFieldCustomization;
@include whiteSpace;

.cars-container {
  height: 100%;
  display: flex;

  .manufacturer-container {
    display: flex;
    width: 100%;
    max-width: 100%;

    .wrapper-container {

      max-width: 30rem;
      width: 100%;

      .add-manufacturer {
        padding-top: 3rem;
        display: flex;
        flex-direction: column;

      }

      .add-car {
        padding-top: 5rem;
        display: flex;
        flex-direction: column;

      }
    }
  }
}


.af-form {
  position: relative;
  display: flex;
  flex-direction: column;

  max-width: 30rem;
  width: 100%;
  padding-top: 3rem;
  margin-left: 3rem;

  .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    font-size: 2rem;
  }

  input {
    padding-left: 3rem;
  }
}

mat-form-field {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-select {
  @include mat.select-overrides((
    enabled-trigger-text-color: $blue-dark-color,
    trigger-text-size: 1.5rem,
    focused-arrow-color: $blue-dark-color,
  ));

}

.info-part-container {
  padding: 0 0 3rem 0;
  max-height: 38.8rem;
  height: 100%;
}

.info-part {
  display: flex;
  font-size: 1.5rem;
  justify-content: space-between;
  margin-bottom: 0.2rem;

}



mat-label {
  font-size: 1.5rem;
}


mat-option {
  font-size: 1.5rem;
}

.xxx.mat-select-panel
{
  background-color: red;

}
