<div class="cars-container">
  <div class="white-space-1"></div>
  <div class="manufacturer-container">
    <div class="wrapper-container">
      <!--      ADD Manufacturer---------------------------------->
      <form class="add-manufacturer">
        <div class="response-container">
          @if (successResponse()) {
            <p class="success-response">{{ successResponse() }}</p>
          }
        </div>
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>manufacturer</mat-label>
          <input matInput [formControl]="partManufacturerName">
        </mat-form-field>
        <button class="btn" mat-stroked-button (click)="createPartManufacturer()">Add part manufacturer</button>
      </form>
      <!--      ----------------------------------------------------------    -->
      <!--      ADD Car ------------------------------------------------------------->
      <form class="add-car" [formGroup]="partForm">
        <div class="car-section">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>part name</mat-label>
            <input matInput formControlName="partName">
          </mat-form-field>

          <mat-form-field appearance="outline" class="form-field">
            <mat-label>part number</mat-label>
            <input matInput formControlName="partNumber">
          </mat-form-field>

          <mat-form-field appearance="outline" class="form-field">
            <mat-label>price</mat-label>
            <input matInput formControlName="price">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Currency</mat-label>
              <mat-select formControlName="currency">
                @for (currency of currencies; track currency){
                  <mat-option [value]="currency">{{currency}}</mat-option>
                }
              </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Cars</mat-label>
            <mat-select formControlName="carObj">
              @for (carModel of carModels; track carModel.id) {
                <mat-option [value]="carModel">{{carModel.model}}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Part manufacturers</mat-label>
            <mat-select formControlName="partManufacturerObj">
              @for (partManufacturer of partManufacturers; track partManufacturer.id) {
                <mat-option [value]="partManufacturer">{{partManufacturer.name}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <button class="btn" mat-stroked-button (click)="createPart()">Add part</button>
      </form>
    </div>


    <form class="af-form">
      <!--      search--------------------->
      <mat-form-field appearance="outline" class="form-field">
        <fa-icon icon="magnifying-glass" class="icon fa-xl"></fa-icon>
        <input matInput>
      </mat-form-field>
      <!---->
      <!--      PART info-->
      <div class="info-part-container">
        <div class="info-part">
          <p>part name:</p>
          <p> bujie</p>
        </div>
        <div class="info-part">
          <p>part number:</p>
          <p> 1122-89-pt-r5</p>
        </div>
        <div class="info-part">
          <p>manufacturer:</p>
          <p> skf</p>
        </div>
        <div class="info-part">
          <p>price:</p>
          <p> 25 Ron</p>
        </div>
        <div class="info-part">
          <p>model:</p>
          <p> Ford</p>
        </div>
      </div>
      <!--      ------------------------------------------>
      <!--    ADD Af Part----------------------------------------------------------->
      <mat-form-field appearance="outline" class="form-field">
        <mat-label> af part number</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Currency</mat-label>
        <mat-select>
          @for (currency of currencies; track currency){
            <mat-option [value]="currency">{{currency}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <button class="btn" mat-stroked-button>Add af part</button>
    </form>
    <!--    ---------------------------------------------------------------------------->
  </div>
</div>
