<div class="cars-container">
  <div class="white-space-1"></div>
  <div class="manufacturer-container">
    <form class="add-manufacturer">
      <div class="response-container">
        @if (successResponse()) {
          <p class="success-response">{{successResponse()}}</p>
        }
      </div>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>manufacturer</mat-label>
        <input matInput [formControl]="carManufacturer">
      </mat-form-field>
      <button class="btn" mat-stroked-button (click)="createCarManufacturer()">Add car manufacturer</button>
    </form>
    <form class="add-car" [formGroup]="carFormGroup">
      <div class="car-section">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>car</mat-label>
          <input matInput formControlName="model">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Select</mat-label>
          <mat-select formControlName="carManufacturerObj">
            @for (cm of carManufacturers(); track cm.id){
              <mat-option [value]="cm">{{cm.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <button class="btn" mat-stroked-button (click)="addCar()">Add car</button>
    </form>
  </div>
</div>
