@use "./partials/variables" as *;
@use "./partials/mixins" as *;


//fixing sass problem when importing _ files to components scss:
//https://stackoverflow.com/questions/70058183/cant-use-sass-variables-in-angular-from-global-file-despite-other-styles-worki
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $gray-white-color;
}

html {
  font-size: $global-font-size;
}
